:root {
--gradient: linear-gradient(90deg, #000000, #434343);
--gradient2: linear-gradient(90deg, #000000, #434343);
--light: #fff;
--gray: #f8f9fa;
}

html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth;
}

.main-background-color {
	background-image: var(--gradient);
}

.secondary-background-color {
	background-image: var(--gradient2);
}

.light-color {
	color: var(--light) !important;
}

.gray-background-color {
	background: var(--gray);
}

.company-brand {
	font-size: x-large;
	font-family: cursive;
}

.section {
	padding: 50px 0;
}

.section-body {
	padding: 20px 0;
}

